*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    display: flex;
}
.sec1{
    width: 10%;
    padding: 15px;
    display:flex;
    flex-direction: column;
}

ul{
    background-color: black;
}
li{
    list-style: none;
    color:grey
}
i{
    font-size: 20px;
    margin: 7px;
}

.sec2{
    width:90%;
    margin: 15px;
}
.sec2 h1{
    margin-bottom: 15px;
    font-weight: 800;
}